:root {
  --black_clr: #000000;
  --primary_light: #ffffff;
  --primary_dark: #232732;
  --gradient_red: #d8404c;
  --gradient_blue: #45abf3;
  --light_blue_clr: #4ba8e7;
  --dark_clr_one: #181818;
  --dark_clr_two: #3d414d;
  --grey_bg_clr: #f4f4f4;
}

html {
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--gradient_red) #e5e5e5;
  scrollbar-width: thin;
}

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--gradient_red) #e5e5e5;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  color: var(--black_clr);
  background: var(--primary_light);
  scrollbar-color: var(--gradient_red) #e5e5e5;
  scrollbar-width: thin;
  overflow-x: hidden;
}

body.ov-hide {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #e5e5e5;
}
::-webkit-scrollbar-thumb {
  background: var(--gradient_red);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--gradient_red);
}

a {
  outline: none;
  text-decoration: none;
  color: #555;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
  resize: none;
  font-family: "Inter", sans-serif;
}

a,
input,
button {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.lazy-img-load img {
  background-color: gray;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

.slick-slide {
  outline: none !important;
}

.bg_img {
  display: none;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/*Headings */
h1,
.h1 {
  font-size: 56px;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 32px;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

h5,
.h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

h6,
.h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

.gray-bg {
  background-color: var(--grey_bg_clr);
}

.section {
  padding: 70px 0;
}

p:last-child {
  margin-bottom: 0;
}

.img-box img {
  width: 100%;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  line-height: 1.2;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cta-btn .icon {
  display: flex;
  margin-left: 4px;
  moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform: translate(0);
}

.cta-link {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.2;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cta-link .icon {
  display: flex;
  margin-left: 4px;
  moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform: translate(0);
}

.cta-btn:hover .icon,
.cta-btn:focus .icon,
.cta-btn:active .icon,
.cta-link:hover .icon,
.cta-link:focus .icon,
.cta-link:active .icon {
  transform: translate(5px, -5px);
}

.cta-gradient {
  background-size: 100% 100%;
  background-image: linear-gradient(
    to right,
    var(--gradient_red),
    var(--gradient_blue)
  );
  color: var(--primary_light);
}

.cta-gradient:hover,
.cta-gradient:focus,
.cta-gradient:active {
  background-size: 200% 100%;
  color: var(--primary_light);
}

.cta-white {
  background-color: var(--primary_light);
  color: var(--dark_clr_one);
}

.cta-white:hover,
.cta-white:focus,
.cta-white:active {
  color: var(--primary_light);
  background-color: var(--dark_clr_one);
}

button {
  border: 0;
}

ul.style-one li {
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
}

ul.style-one li:not(:last-child) {
  margin-bottom: 8px;
}

ul.style-one li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.84416L3.28571 1H6.19481L8.8961 4.84416L7.02597 9H3.28571L1 4.84416Z' stroke='url(%23paint0_linear_82_83)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_82_83' x1='1' y1='9' x2='8.80788' y2='8.17003' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D8404C'/%3E%3Cstop offset='1' stop-color='%2345ABF3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 5px;
}

@media (max-width: 991px) {
  /*Headings */
  h1,
  .h1 {
    font-size: 46px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 30px;
  }

  h4,
  .h4 {
    font-size: 22px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .section {
    padding: 50px 0;
  }

  .cta-btn {
    padding: 10px 16px;
  }

  .cta-link {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  /*Headings */
  h1,
  .h1 {
    font-size: 38px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .section {
    padding: 40px 0;
  }

  .cta-btn {
    padding: 8px 14px;
    font-size: 14px;
  }
}
